# Environment secrets
.env

# Telethon session files
*.session
*.session-journal

# Python
__pycache__/
*.py[cod]
*$py.class
app/.venv/

# Node / React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# other shi
documentation/implementation_plan.md
documentation/ubuntu_server_setup.md